flask==0.12.4
flask-sqlalchemy==2.2
flask-bcrypt
requests
psycopg2-binary~=2.7.4
pip==10.0.1
flask-migrate
Flask-Script
flask-login
flask-jwt-extended
flask-cors
Flask-Testing==0.7.1
pytest~=3.5.1
pytest-flask==0.10.0
python-dotenv~=0.8.2
flask-marshmallow==0.9.0
marshmallow==2.15.4
marshmallow-sqlalchemy==0.14.1
